<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="E4 test app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://io.e4/io.e4.AppLifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/io.e4/css/default.css">
         </property>
         <property
               name="appName"
               value="E4 test app">
         </property>
      </product>
   </extension>

</plugin>
